    {{!-- <h2 style="color:orange;">chat</h2>
    <input id="inputEmail" type="text" placeholder="Email"><br>
    <input id="inputMessage" type="text" placeholder="Mensaje"><br>
    <button id="submitButton">Enviar mensaje</button>
    <div id="messageList"></div> --}}


    <h2 style="color:orange;">chat</h2>
    <input id="inputEmail" type="text" placeholder="Email"><br>
    <input id="inputMessage" type="text" placeholder="Mensaje"><br>
    <button id="submitButton">Enviar mensaje</button>

    {{!-- {{#if hayMensajes}} --}}
    {{!-- <table id="messageList" class="table-responsive"></table> --}}


    <div id="messageList" class="table-responsive">
    {{!-- <table class="table table-dark"> --}}
        {{!-- <tr style="color: orange;">
            <th>Fecha</th>
            <th>Email</th>
            <th>Mensaje</th>
        </tr> --}}
        {{!-- {{#each mensajes}} --}}
        {{!-- <tr>
            <td>
                {{this.title}}
            </td>
            <td>
                {{this.price}} 
            </td>
            <td>
                <img src={{this.thumbnail}} style='width:70px;height:90px;'>
            </td>
        </tr> --}}
        {{!-- {{/each}} --}}
    {{!-- </table> --}}
{{!-- </div> --}}
{{!-- {{else}}
<h2 class="alert alert-danger">No hay mensajes</h3>
{{/if}} --}}