<div>
    <h2 style="color:orange;">Registro de usuario</h2>
    <form action="/login" method="POST">
        <input id="nombreRegistrado" class="form-control" type="text" name="name" placeholder="Ingresa usuario:" required>
        <button type="submit" id="botonRegistro" class="btn btn-success mt-2">Enviar</button>
    </form>
    <a class="btn btn-danger mt-2" href="http://localhost:8080/logout" role="button">Log out</a>
</div>


