  <div class="container mx-5">
    <h3 style="color:orange;">Chat de clientes</h3>
    <p id="msg"></p>
        <div class="row align-items-center">
            <div class="col-sm-3 col-md-auto">
                <label for="email" class="form-label">E-mail:</label>
            </div>
            <div class="col-sm-9 col-md-auto">
                <input type="email" class="form-control" id="email" placeholder="E-mail">
            </div>
            <div class="col-sm-3 col-md-auto">
                <label for="texto" class="form-label">Mensaje:</label>
            </div>
            <div class="col-sm-p col-md-auto">
                <input type="text" class="form-control" id="message" placeholder="Mensaje">
            </div>
            <div class="col-auto">
                <button id="submitButton" class="btn btn-success m-3" onclick="enviar()"><i class="bi bi-send"></i> Enviar</button>
            </div>
        </div>
    <h4 class="m-3">Mensajes</h4>
    <div class="m-3" id="messages"></div>
    {{!-- <script src="js/index.js"></script> --}}