<h1 style="color:orange;">Ingresa la info del producto</h1>
<br>
<form action="/productos" method="post">
    <div class="form-group">
        <label for="title"><b>Nombre producto:</b></label>
        <input type="text" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="price"><b>Precio:</b></label>
        <input type="number" id="price" name="price">
    </div>
    <div class="form-group">
        <label for="thumbnail"><b>Foto:</b></label>
        <input type="text" id="thumbnail" name="thumbnail">
    </div>
    <button class="btn btn-success mt-3 mb-5" type="submit">Agregar producto</button> 
</form>


{{!-- chat --}}
  <div class="container mx-5">
    <h3 style="color:orange;">Chat de clientes</h3>
    <p id="msg"></p>
        <div class="row align-items-center">
            <div class="col-sm-3 col-md-auto">
                <label for="email" class="form-label">E-mail:</label>
            </div>
            <div class="col-sm-9 col-md-auto">
                <input type="email" class="form-control" id="email" placeholder="E-mail">
            </div>
            <div class="col-sm-3 col-md-auto">
                <label for="texto" class="form-label">Mensaje:</label>
            </div>
            <div class="col-sm-p col-md-auto">
                <input type="text" class="form-control" id="message" placeholder="Mensaje">
            </div>
            <div class="col-auto">
                <button id="submitButton" class="btn btn-success m-3" onclick="enviar()"><i class="bi bi-send"></i> Enviar</button>
            </div>
        </div>
    <h4 class="m-3">Mensajes</h4>
    <div class="m-3" id="messages"></div>